/node_modules
/public/hot
/public/storage
/storage
/vendor
/nbproject
.env
.env.backup
.phpunit.result.cache
/.idea
/stubs
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.php_cs.cache
/public/images/vendor/
/public/js/app.js.LICENSE.txt
/public/js/admin.js.LICENSE.txt
/__dev/
/resources/lang_1/