#
# USAGE
#   cd <project_name>
#   php vendor/bin/phpstan analyse -c phpstan.neon
#

parameters:
#    checkGenericClassInNonGenericObjectType: false
#    checkMissingIterableValueType: false
    level: max
    paths:
        - app
        - modules

    banned_code:
        nodes:
            # enable detection of echo
            -
                type: Stmt_Echo
                functions: null

            # enable detection of eval
            -
                type: Expr_Eval
                functions: null

            # enable detection of die/exit
            -
                type: Expr_Exit
                functions: null

            # enable detection of a set of functions
            -
                type: Expr_FuncCall
                functions:
                    - debug_backtrace
                    - dump
                    - passthru
                    - phpinfo
                    - print_r
                    - shell_exec
                    - var_dump
                    - var_export

        # enable detection of `use Tests\Foo\Bar` in a non-test file
        use_from_tests: true

includes:
        - vendor/phpstan/phpstan-strict-rules/rules.neon
        - vendor/ekino/phpstan-banned-code/extension.neon
