@import 'app';
@import '../../node_modules/flag-icon-css/sass/flag-icon';

.nav {
    &.menu {
        .nav-item {
            &:not(:last-of-type) {
                box-shadow: 0.125rem 0 0.05rem rgba(0, 0, 0, 0.075) !important;
            }
            .active {
                background-color: $blue;
                color: $white;
            }
        }
    }
}

.table-bordered {
    th {
        .ordering {
            /*border-left: 1px solid #dee2e6;*/
        }
    }
}

#mask {
    display: none;
    font-size: 1.5rem;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    top: 0px;
    left: 0px;
    position: fixed;
    text-align: center;
    vertical-align: middle;

    i {
        display: block;
        padding: 30% 0;
    }
    .background {
        width: 100vw;
        height: 100vh;
        opacity: 0.8;
        top: 0px;
        left: 0px;
        position: fixed;
    }
}
